<div class="modal-dialog modalWidth">
                <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <span class="closeImg close" data-dismiss="modal"></span>
            <h4 class="modal-title">{{i18n 'FEEDBACK'}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea name="" id="" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" id='nayFeedbackBtn'>{{i18n 'SUBMIT'}}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>