<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>{{i18n 'LOGOUT_CONFIRM'}}</h5></div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">{{i18n 'NO'}}</button>
                <button type="button" class="btn btn-primary" id="logOutConfirm" onclick="logOut()">{{i18n 'YES'}}</button>
            </div>
        </div>
    </div>
</div>