<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content">
            <div class="modal-body row">
                <div class="permission-image col-md-3 col-xs-3 col-xs-3"></div>
                <div class="col-md-9 col-xs-9 col-xs-9">{{i18n 'NOTIFICATION'}}</div>
            </div>
            <div class="modal-footer">
                <button id="deny-permission" type="button" class="btn btn-default" data-dismiss="modal"> {{i18n 'NO_THANKS'}}</button>
                <button id="allow-permission" type="button" class="btn btn-primary"  data-dismiss="modal" >{{i18n 'ALLOW'}}</button>
            </div>
        </div>
    </div>
</div>