idea
*.iml
.project
.settings/org.eclipse.m2e.core.prefs
deployments/.classpath
deployments/.settings/*
integration-test/.settings/*
integration-test/target/*
integration-test/.classpath
service-integration/.classpath
web/.classpath
web/.settings/*
web/src
db-integration/target/classes/dbscript/Biller
db-integration/.classpath
db-integration/src/main/java/META-INF/persistence.xml
deployments/.springBeans
**/target
**/target-grunt
.DS_Store
**/node_modules/
/web/src/main/webapp
/morfeuswebsdk/src/main/webapp/libs
/morfeuswebsdk/src/main/webapp/sw_cache.js
.idea
### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
logs/*
tmp
morfeuswebsdk/lighthouse-report-*.html
