{{#if data.length}}
    <style>
        .list-header-bg{
            background-image: url({{listTitle.image}});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }
        .list-header-titleContainer{
            margin-top: 3rem;
            margin-left : 1rem;
        }
    </style>
    <div class="msg bot-message list-msg">
        <div class="flex-design">
            <div class="bot-image-container">
                {{#if showHideBotIcon}}
                    <img src="images/default/default-icon.png" width="30" height="30">
                {{/if}}
            </div>
            <div class="bot-messagefull messageContent">
                <div class="msg" id="listMessage">
                    <div class="panel panel-default list-custom-template">
                        {{#is style 'large'}}
                            <div class="custom-panel-radius panel-body list-header-bg">
                                <div class="list-header-titleContainer">
                                    <h4 style="margin:0px">{{listTitle.title}}</h4>
                                    <p style="margin:0px">{{listTitle.subtitle}}</p>
                                </div>
                            </div>
                        {{else}}
                        <div class="custom-panel-radius panel-body list-temp-heading">
                            <h4 class="list-heading ie10-flexalign"> <img src="images/default/active_logo.png" class="img-responsive" width="35">{{listTitle}}</h4>
                        </div>
                        {{/is}}
                        {{#each data}}
                            {{#is type "rowcaption" }}
                                <div class="panel-header">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="list-subtitle margin0px">{{title}}
                                                <span class="pull-right">
                                            <strong>{{subtitle}}</strong>
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {{/is}}
                            {{#is type "row"}}
                                <!--data-is-main-parent=true has been added to mark pointers on the DOM to help in button disabling process-->
                                <div class="custom-panel-radius panel-body" data-is-main-parent="true">
                                    <div class="row">
                                        <div class="col-md-12 flex-display">
                                            <div class="list-elements">
                                                <h4 class="list-heading">{{{title}}}</h4>
                                                <p class="list-subtitle">{{{subtitle}}}</p>
                                            </div>
                                            <div class="list-buttons">
                                                {{#each buttons}}
                                                    <button type="button" data-button-lifecycle="{{allowMultipleClicks}}" data-radio="{{radio}}" data-button-index="{{@index}}" class="btn btn-primary btn-outline" {{#is action 'postback'}} data-value="{{stringify payload}}" {{else}} data-value="{{payload}}" {{/is}} data-type="{{action}}" onclick="/*disableAllCardButtons(this);*/callApi(this);">{{text}}</button>
                                                {{/each}}
                                            </div>
                                            {{#if imageurl}}
                                                <div class="flex-align-right">
                                                    <img src="{{imageurl}}" class="img-responsive pull-right" width="70">
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            {{/is}}
                            {{#is type "rowbutton" }}
                                {{#if buttons.length}}
                                    <div id='rowbuttons'>
                                        {{#each buttons}}
                                            <div data-type='rowbutton' {{#unless @last}} class="row-btn-border" {{/unless}}>
                                                <button type="button" data-button-lifecycle="{{allowMultipleClicks}}" data-radio="{{radio}}" data-button-index="{{@index}}" class="btn btn-primary btn-block row-btn" {{#is action 'postback'}} data-value="{{stringify payload}}" {{else}} data-value="{{payload}}" {{/is}} data-type="{{action}}" onclick="/*disableAllCardButtons(this);*/callApi(this);">{{text}}</button>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/is}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
