<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&key={{key}}&callback=initMap"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-locationpicker/0.1.12/locationpicker.jquery.min.js"></script> -->
<div class="msg bot-message card-msg">
    <div class="flex-design">
        <div class="bot-image-container">
            
            
        </div>
        <div class="bot-messagefull messageContent">
            <div >
                <div class="slider mobile-display-swipe center">

                  <div class="panel panel-default button-div border-radius-top-20">

                      <div class="panel-body">
                          <div class="row">
                            <div class="col-xs-12">
                              <input type="text" class="form-control" id="map-address"/>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12 buttondesign">
                                  <div id="map"></div>
                              </div>
                          </div>
                      </div>
                      <!--data-is-main-parent=true has been added to mark pointers on the DOM to help in button disabling process-->
                        <div data-is-main-parent="true">
                          <button type="button" class="btn btn-primary btn-sm btn-block" id="locationSend">{{i18n 'SEND'}}</button>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
