<div class="msg bot-message" id="botMessage">
    <div class="flex-design">
        <div class="panel panel-default list-custom-template logout-template">
            <div class="custom-panel-radius panel-body list-temp-heading">
                <h4 class="list-heading"> <img src="images/default/active_logo.png" class="img-responsive" width="35">Thanks for using Active Ai Neyo!</h4>
            </div>
            <div class="panel-header">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/default/logout.png" width="40" alt="">
                        <p class="list-subtitle margin0px">{{getMessage this}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>