<div class="splashScreen" id="splashScreenTemplate">
  <div class="row">
    <div class="col-md-12">
      <div class="splash-banner"></div>
        <div class="splash-logo">
         
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="splashHeaderImg-wrapper">
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="splashText-wrapper">
        <p class="splash-title">
          {{i18n 'BOT_TITLE'}}
       </p>
       <p class="splash-text">
        {{i18n 'BOT_INTRO'}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="getStarted-wrapper">
        <button class="btn btn-primary" id="getStarted" onclick="getStartedClick(event)" disabled="true">{{i18n 'GET_STARTED'}}</button>
      <div>
    </div>
  <div>
</div>
