<div class="text-center">
    <div class="container-fluid welcome-card-design margint0px">
        <div class="row">
            <form id='demo-form' action="?" method="POST">
                <button class="g-recaptcha" data-sitekey="6LdaMxkUAAAAAOk_NlzyLQVUD-nb_sTMUQWYwLVW" data-callback="onSubmitCaptcha">
                    {{i18n 'SUBMIT'}}
                </button>
            </form>
            <div class="col-md-12 text-center">
                <b>
                    <p>
                        {{text}}
                    </p>
                </b>
                <p>
                    {{subText}}
                </p>
                {{#if quickText}}
                    <button class="btn btn-primary default-head-btn" type="button" onclick="loadQuickText('{{quickText}}');">{{quickText}}</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
